.verifymain {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify {
  width: 40%;
  height: 60%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.verifyH1 {
  color: RED;
}

.verifyBtn {
  padding: 10px;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
}
